name: Trigger auto deployment for pyo-blog-front-web

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/pyo-blog-front-web-AutoDeployTrigger-36654d24-d083-4b70-98f3-27c400b9fb3d.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.PYOBLOGFRONTWEB_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.PYOBLOGFRONTWEB_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.PYOBLOGFRONTWEB_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: pyoblogcontainerregistry.azurecr.io
          registryUsername: ${{ secrets.PYOBLOGFRONTWEB_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.PYOBLOGFRONTWEB_REGISTRY_PASSWORD }}
          containerAppName: pyo-blog-front-web
          resourceGroup: pyo-blog
          imageToBuild: pyoblogcontainerregistry.azurecr.io/pyo-blog-front-web:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


